@import url("https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";

@theme {
  --font-vazir: "Vazirmatn", sans-serif;
}


@theme {
  --breakpoint-320: 320px;
  --breakpoint-500: 500px;
  --breakpoint-420: 420px;
  --breakpoint-600: 600px;
  --breakpoint-640: 640px;
  --breakpoint-740: 740px;
  --breakpoint-830: 830px;
  --breakpoint-990: 990px;
  --breakpoint-1020: 1020px;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}