@import url("https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap");
@import "tailwindcss";

@theme {
    --font-vazir: "Vazirmatn", sans-serif;
}


@theme {
    --breakpoint-320: 320px;
    --breakpoint-500: 500px;
    --breakpoint-600: 600px;
    --breakpoint-640: 640px;
    --breakpoint-740: 740px;
    --breakpoint-990: 990px;
    --breakpoint-1020: 1020px;
}