@import url("https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap");
@import "tailwindcss";

@theme {
    --font-vazir: "Vazirmatn", sans-serif;
}


@theme {
    --breakpoint-320px: 320px;
    --breakpoint-2xl: 100rem;
    --breakpoint-3xl: 120rem;
}